<div class = "row">
  <div class= "col-md-8">

    <%= render partial: 'votes/voter', locals: { topic: @topic, post: @post} %>
    <h1><%= markdown @post.title %></h1>

    
    <small>
      <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by
      <%= @post.user.name %>
    </small>



    <p><%= markdown @post.body %></p>
    <br>
 

    <!-- Edit Post Button -->
    <% if policy(@post).edit? %>
      <%= link_to "Edit Post", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
    <% end %> 
    <!-- End of Post Edit Button -->

    <!-- Delete Post Button -->
    <% if policy(@post).destroy? %>
      <%= link_to "Delete Post", [@topic, @post], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this post?'} %>
    <% end %>
    <!-- End of Delete Post Button -->

    <div>
      <h3><%= pluralize(@post.points, 'point') %></h3>
      <small>
        <%= pluralize(@post.up_votes, 'up vote') %>,
        <%= pluralize(@post.down_votes, 'down vote') %>
      </small>
    </div>

    <!-- favorite partial render -->
    <%= render partial: 'favorites/favorite', locals: { topic: @topic, post: @post} %>
    
    <hr> 
    
    <!-- New Comment Form -->
    <% if policy(Comment.new).create? %>
      <%= render partial: 'comments/comment', collection: @comments %>
    <% end %>
    <!-- End of New Form -->

    
    <h2 class='js-comments-count'><%= pluralize(@comments.count, 'Comment') %></h2>
    
    <div class='js-comments'>
      <%= render partial: "comments/comment", collection: @comments, locals: { topic: @topic, post: @post } %>
    </div>

    <!-- End ofComments Area -->


  </div>


  <!-- Post Image Here -->
  <div class= "col-md-4">
  <%= image_tag(@post.image.url, class:"img-rounded") if @post.image? %>
  <!-- End of Image Here -->
  </div>
</div>


